.download {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

img {
    width: 530px;
    height: 330px;
    border-radius: 10px;
}

.video-header {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 8px;
    background: #e8e8f1;
    border-radius: 8px;
}

.button-down {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.button {
    color: #fff;
    width: 210px;
    line-height: 19px;
    border-radius: 8px;
    padding: 12px;
    margin: 12px;
    text-decoration: none;
    border: none;
    box-shadow: 0 1px 4px #16161d52;
 
}

.button:hover {
    background-color: #ec9a05;
    color: #fff;
}

.downloadb {
    background-color: #0a003c;
}

.back {
    background-color: #050505;
}

/* Ajoutez des media queries pour la section .download */
@media only screen and (max-width: 600px) {
    .download {
        flex-direction: column;
        align-items: stretch;
        gap: 10px;
    }

    img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }

    .button {
        width: 100%;
    }
}
