{% extends 'base.html' %}

{% block title %}Home-Page{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/Home.css') }}">
<div class="title"><h1 dir="rtl">حمل مقاطع الفيديو بدون علامه مائية</h1></div>
<div class="platforme">
 
  <!-- <a class="plat" href="{{ url_for('Spotify') }}"><i class="fab fa-spotify"></i> سبوتيفي</a> -->
  <a class="plat" href="{{ url_for('Instagram') }}"><i class="fab fa-instagram"></i> إنستاجرام</a>
  <a class="plat" href="{{ url_for('Facebook') }}"><i class="fab fa-facebook"></i> فيس بوك</a>
  <a class="plat" href="{{ url_for('Youtube') }}"><i class="fab fa-youtube"></i> يوتيوب</a>
  <a class="plat" href="{{ url_for('Snapchat') }}"><i class="fab fa-snapchat"></i> سناب شات</a>
  <!-- <a class="plat" href="{{ url_for('Reddit') }}"><i class="fab fa-reddit"></i> ريديت</a> -->
  <a class="plat" href="{{ url_for('Pinterest') }}"><i class="fab fa-pinterest"></i> بينتيست</a>
  <a class="plat" href="{{ url_for('SoundCloud') }}"><i class="fab fa-soundcloud"></i> ساوند كلاود</a>
  <a class="plat" href="{{ url_for('Twitter') }}"><i class="fab fa-twitter"></i> تويتر</a>
  <a class="plat" href="{{ url_for('Tiktok') }}"><i class="fab fa-tiktok"></i> تيك توك</a>
  <a class="plat" href="{{ url_for('LinkedIn') }}"><i class="fab fa-linkedin"></i> لينكد إن</a>
  <!-- <a class="plat" href="{{ url_for('Threads') }}"><i class="fas fa-threads"></i> تريدس</a> -->

</div>

<div class="container">
  <pre>

    
  </pre>
</div>
<!-- Publicité -->
<section class="ads">
  <div class="ads-div" style="background-color: #f5f5f5; border-radius: 10px; padding: 10px;">
    <a href="{{ files_with_urls[-1].url }}"><img src="{{ url_for('display_image', filename=files_with_urls[-1].filename) }}" alt="Uploaded Image" style="width:100%; height: auto;"></a>
  </div>
</section>
{% endblock %}

{% block additional_css %}
    <!-- Inclure le fichier CSS externe pour cette page -->
{% endblock %}

